#scene {
    position: relative;
    margin-top: 10px;
}

#wrapper img{
    position: relative;
}

.drop-target {
    text-align: center;
}

#refresh-button {
    position:absolute;
    top:0px;
    left:1030px;
}

#refresh-button:hover,#green-arrow-left:hover,#green-arrow-right:hover {
    cursor: pointer;
}

#green-arrow-left {
    position: absolute;
    bottom: 0px;
    left:170px;
}

#green-arrow-right {
    position: absolute;
    bottom: 0px;
    left:1030px;
}

.answer {
    color:rgb(14, 12, 12);
    font-weight: bold;
}

label {
    font-size: 25px;
    cursor: pointer;
    margin-right: 20px;
}

#labels-section {
    text-align: center;
}

.drag-over {
    border: solid 2px red;
}

.hide {
    display: none;
}

#living-room {
    position: relative;
    margin-left: 300px;
}

#sofa {
    position: absolute;
    bottom: 140px;
    left: 420px;
}

#armchair {
    position: absolute;
    bottom: 80px;
    left: 700px;
}

#tv {
    position: absolute;
    bottom: 5px;
    left: 330px;
}

#table {
    position: absolute;
    bottom: 40px;
    left: 550px;
}

#remote-control {
    position: absolute;
    bottom: 120px;
    left: 590px;
}