#exitclick:hover {
    cursor: pointer;
}

#container {
    display: flex;
    flex-direction: column;
}

#scene {
    display: flex;
}

#scene1,#scene2 {
    position: relative;
    margin-top: 10px;
    flex:1;
}

#living-room,#study {
    position: relative;
}

.drop-target {
    text-align: center;
}

#refresh-button {
    position:absolute;
    bottom:-80px;
    left:0px;
}

#refresh-button:hover,#green-arrow-up:hover {
    cursor: pointer;
}

#green-arrow-up {
    position: absolute;
    top: 0px;
    left:0px;
}

.answer {
    color:rgb(14, 12, 12);
    font-weight: bold;
}

label {
    font-size: 25px;
    cursor: pointer;
    margin-right: 20px;
    background-color: #3f772e;
    border: 1px dotted black;
    padding: 10px;
    color: white;
    min-width: 150px;
}

#labels-section1,#labels-section2 {
    margin-left: 40px;
    margin-top:10px;
    text-align: center;
    display: flex;
    float: left;
    margin-left: 120px;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    gap:20px;
}

.drag-over {
    border: solid 2px red;
}

.hide {
    display: none;
}

#sofa {
    position: absolute;
    bottom: 140px;
    left: 120px;
}

#armchair {
    position: absolute;
    bottom: 80px;
    left: 400px;
}

#tv {
    position: absolute;
    bottom: 5px;
    left: 30px;
}

#table {
    position: absolute;
    bottom: 40px;
    left: 250px;
}

#remote-control {
    position: absolute;
    bottom: 120px;
    left: 290px;
}

#desk {
    position: absolute;
    bottom: 10px;
    left: 430px;
}

#chair {
    position: absolute;
    bottom: 50px;
    left: 375px;
}

#laptop {
    position: absolute;
    bottom: 140px;
    left: 475px;
}

#phone {
    position: absolute;
    bottom: 110px;
    left: 545px;
}

#pens {
    position: absolute;
    bottom: 110px;
    left: 610px;
}

#books {
    position: absolute;
    bottom: 320px;
    left: 270px;
}

#door {
    position: absolute;
    bottom: 40px;
    left: 40px;
}