#exitclick:hover {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
}

.action-box {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    margin: 10px 0px 10px -110px;
}

#scene {
    position: relative;
}

#wrapper img{
    position: relative;
}

.drop-target {
    text-align: center;
}

#study {
    position: relative;
    width:50%;
    float:left;
    margin-left: 230px;
}

#refresh-button:hover,#green-arrow-left:hover,#green-arrow-right:hover {
    cursor: pointer;
}

.answer {
    color:rgb(14, 12, 12);
    font-weight: bold;
}

label {
    font-size: 25px;
    cursor: pointer;
    margin-right: 20px;
    background-color: #3f772e;
    border: 1px dotted black;
    padding: 10px;
    color: white;
    min-width: 150px;
}

#labels-section {
    margin-left: 40px;
    margin-top:20px;
    text-align: center;
    display: flex;
    float: left;
    margin-left: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap:20px;
}

.drag-over {
    border: solid 2px red;
}

.hide {
    display: none;
}

#desk {
    position: absolute;
    bottom: 0px;
    left: 660px;
}

#chair {
    position: absolute;
    bottom: 30px;
    left: 605px;
}

#laptop {
    position: absolute;
    bottom: 120px;
    left: 705px;
}

#phone {
    position: absolute;
    bottom: 90px;
    left: 775px;
}

#pens {
    position: absolute;
    bottom: 90px;
    left: 840px;
}

#books {
    position: absolute;
    bottom: 300px;
    left: 500px;
}

#door {
    position: absolute;
    bottom: 20px;
    left: 270px;
}