.container {
  display: flex;
  flex-direction: column;
}

.action-box {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
  margin: 10px 0px 10px -110px;
}

.study {
  position: relative;
  background-image: url(../images/study\ room.png);
  width: 700px;
  height: 504px;
  background-size: contain;
}

#scene {
  display: flex;
  justify-content: center;
}

#wrapper img {
  position: relative;
}

.drop-target {
  text-align: center;
}

#study {
  position: relative;
}

#refresh-button:hover,
#green-arrow-left:hover,
#green-arrow-right:hover {
  cursor: pointer;
}
.answer {
  color: rgb(14, 12, 12);
  font-weight: bold;
}

label {
  font-size: 25px;
  cursor: pointer;
  margin-right: 20px;
  background-color: #3f772e;
  border: 1px dotted black;
  padding: 10px;
  color: white;
  min-width: 150px;
}

#labels-section {
  margin-left: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 20px;
}

.drag-over {
  border: solid 2px red;
}

.hide {
  display: none;
}

#desk {
  position: absolute;
  bottom: 13px;
  left: 432px;
}

#chair {
  position: absolute;
  bottom: 87px;
  left: 374px;
}

#laptop {
  position: absolute;
  bottom: 210px;
  left: 470px;
}

#phone {
  position: absolute;
  bottom: 148px;
  left: 539px;
}

#pens {
  position: absolute;
  bottom: 150px;
  left: 591px;
}

#books {
  position: absolute;
  bottom: 345px;
  left: 255px;
}

#door {
  position: absolute;
  bottom: 45px;
  left: 40px;
}
